<template>
  <div :style="style">&nbsp;</div>
</template>

<script>
import circleBodyMixin from './physics/mixins/rectangle-body'

export default {
  mixins: [circleBodyMixin],

  props: {
    height: {
      type: Number,
      required: true
    },
    width: {
      type: Number,
      required: true
    },
    isTouchingGround: {
      type: Boolean,
      required: true
    }
  },

  computed: {
    style() {
      const { angle, position } = this.physics
      return [
        'position: absolute',
        `background-color: ${this.isTouchingGround ? 'red' : 'dodgerblue'}`,
        `left: ${position.x - this.width / 2}px`,
        `top: ${position.y - this.height / 2}px`,
        `width: ${this.width}px`,
        `height: ${this.height}px`,
        `transform: rotate(${angle}rad)`
      ].join(';')
    }
  }
}
</script>

<style scoped>
div {
  border: 1px solid blue;
}
</style>
