<template>
  <div>
    <green-circle
      :position="position"
      :radius="10"
      :is-static="true"
    />

    <green-circle
      :position="secondPosition"
      :radius="30"
    />
  </div>
</template>

<script>
import constraintMixin from './physics/mixins/constraint'
import GreenCircle from './green-circle'

export default {
  components: {
    GreenCircle
  },

  mixins: [constraintMixin],

  props: {
    position: {
      type: Object,
      required: false,
      default: () => ({ x: 0, y: 0 })
    }
  },

  computed: {
    secondPosition() {
      return {
        x: this.position.x,
        y: this.position.y + this.length
      }
    }
  }
}
</script>
