<template>
  <div :style="style">&nbsp;</div>
</template>

<script>
import circleBodyMixin from './physics/mixins/circle-body'

export default {
  mixins: [circleBodyMixin],

  props: {
    radius: {
      type: Number,
      required: true
    }
  },

  computed: {
    style() {
      const { position } = this.physics
      return [
        'position: absolute',
        `left: ${Math.round(position.x) - this.radius}px`,
        `top: ${Math.round(position.y) - this.radius}px`,
        `width: ${2 * this.radius}px`,
        `height: ${2 * this.radius}px`
      ].join(';')
    }
  }
}
</script>

<style scoped>
div {
  background-color: greenyellow;
  border-radius: 50%;
}
</style>
