<template>
  <div>
    <no-ssr>
      <physics-engine>
        <blue-box
          ref="ground"
          v-bind="ground"
          @collisionStart="handleGroundCollision"
          @collisionEnd="handleGroundCollision"
        />
        
        <blue-box
          v-for="wall in walls"
          :key="wall.label"
          v-bind="wall"
        />


        <blue-box
          v-for="box in movingBoxes"
          ref="boxes"
          :key="box.label"
          v-bind="box"
        />

        <circle-spring
          v-for="springOptions in springs"
          :key="springOptions.label"
          v-bind="springOptions"
        />

        <physics-renderer v-show="isPhysicsVisible" />
      </physics-engine>
    </no-ssr>

    <aside>
      <label>
        <input
          v-model="isPhysicsVisible"
          type="checkbox"
        >
        show physics
      </label>
      <button
        type="button"
        @click="jump"
      >jump</button>
    </aside>
  </div>
</template>

<script>
import { Body } from 'matter-js'

import PhysicsEngine from '../components/physics/physics-engine'
import PhysicsRenderer from '../components/physics/physics-renderer'
import BlueBox from '../components/blue-box'
import CircleSpring from '~/components/circle-spring'

export default {
  components: {
    CircleSpring,
    BlueBox,
    PhysicsRenderer,
    PhysicsEngine
  },

  data() {
    const ground = {
      position: { x: 400, y: 590 },
      width: 800,
      height: 10,
      isStatic: true,
      isTouchingGround: false
    }

    const walls = [
      {
        position: { x: 400, y: 0 },
        width: 800,
        height: 10,
        isStatic: true,
        isTouchingGround: false
      },
      {
        position: { x: 0, y: 295 },
        width: 10,
        height: 600,
        isStatic: true,
        isTouchingGround: false
      },
      {
        position: { x: 800, y: 295 },
        width: 10,
        height: 600,
        isStatic: true,
        isTouchingGround: false
      }
    ]

    const movingBoxes = []
    for (let i = 0; i < 20; i++) {
      const width = 40 + Math.random() * 20
      const height = 40 + Math.random() * 20
      movingBoxes.push({
        label: `${new Date().getTime()}-${i}`,
        position: {
          x: 100 + Math.random() * 400,
          y: 100 + Math.random() * 400
        },
        width,
        height,
        isTouchingGround: false
      })
    }

    const springs = []
    for (let i = 0; i < 7; i++) {
      const springOptions = {
        stiffness: 0.005,
        length: 300,
        position: { x: 100 * (i + 1), y: 50 }
      }
      springs.push(springOptions)
    }

    return {
      isPhysicsVisible: false,
      springs,
      ground,
      movingBoxes,
      walls
    }
  },

  methods: {
    jump() {
      const force = { x: 0, y: -0.2 }
      const { boxes } = this.$refs
      boxes.forEach(box => {
        const { body } = box.$options
        if (box.isTouchingGround) {
          Body.applyForce(body, body.position, force)
        }
      })
    },

    handleGroundCollision(event) {
      const { pairs } = event
      const { ground, boxes } = this.$refs
      const { body: groundBody } = ground.$options
      const collidingBodies = pairs
        .map(pair => {
          const { bodyA, bodyB } = pair

          if (bodyA === groundBody) {
            return bodyB
          }

          if (bodyB === groundBody) {
            return bodyA
          }

          return null
        })
        .filter(Boolean)

      const isColliding = event.name === 'collisionStart'
      this.movingBoxes.forEach(box => {
        if (collidingBodies.some(body => body.label === box.label)) {
          box.isTouchingGround = isColliding
        }
      })
    }
  }
}
</script>

<style scoped>
aside {
  display: flex;
  flex-direction: column;
  left: 800px;
  position: absolute;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}
</style>
