<template>
  <canvas />
</template>

<script>
import { Render } from 'matter-js'

export default {
  inject: ['engine'],

  mounted() {
    if (!process.browser) {
      return
    }

    const render = Render.create({
      canvas: this.$el,
      engine: this.engine,
      options: {
        width: 800,
        height: 600,
        background: 'transparent',
        wireframeBackground: 'transparent',
        showAngleIndicator: true
      }
    })

    Render.run(render)
  }
}
</script>
